***Python Capstone***

**1. Creating three DataFrames and Saving in CSV format**

In [1]:
import pandas as pd
import numpy as np

#Creating Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)

#Creating Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)

#Creating Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)

# Save DataFrames to .csv files
employee_df.to_csv('employee_data.csv', index=False)
seniority_df.to_csv('seniority_data.csv', index=False)
project_df.to_csv('project_data.csv', index=False)
print(employee_df)
print(seniority_df)
print(project_df)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

**2. Replacing the missing values by mean with the for loop**

In [2]:
#Loading the Project DataFrame
project_df = pd.read_csv('project_data.csv')

#Calculate the running average (window=3) and fill missing NaN values
project_df['Cost'] = project_df['Cost'].fillna(
    project_df['Cost'].rolling(window=3, min_periods=1, center=True).mean()
)
#For loop
cost_list = project_df['Cost'].tolist()
for i in range(len(cost_list)):
    if pd.isna(cost_list[i]):
        # Calculating mean
        start = max(0, i - 1)
        end = min(len(cost_list), i + 2)
        window = cost_list[start:end]
        # Filter out NaN values
        mean_val = np.nanmean(window) 
        if not pd.isna(mean_val):
            cost_list[i] = mean_val

project_df['Cost'] = cost_list
project_df.to_csv('project_data.csv', index=False)
print(project_df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3090000.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9   325000.0   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

**3. Creating the First Name and Last Name by spliting Name**

In [3]:
#loading employee DataFrame
employee_df = pd.read_csv('employee_data.csv')

#Spliting 'Name' column into 'First Name' and 'LastName'
employee_df[['First Name', 'LastName']] = employee_df['Name'].str.split(' ', expand=True)

#Droping the original 'Name' column
employee_df.drop('Name', axis=1, inplace=True)
employee_df.to_csv('employee_data.csv', index=False)
print(employee_df)

     ID Gender     City  Age First Name   LastName
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

**4. Merging all three DataFrames**

In [4]:
#loading all three DataFrames
employee_df = pd.read_csv('employee_data.csv')
seniority_df = pd.read_csv('seniority_data.csv')
project_df = pd.read_csv('project_data.csv')

#Merging Employee and Seniority DataFrames on 'ID'
temp_df = pd.merge(employee_df, seniority_df, on='ID')

#Merging the combined DataFrame with the Project DataFrame on 'ID'
Final = pd.merge(temp_df, project_df, on='ID')
print(Final)

      ID Gender     City  Age First Name   LastName  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status
0    Project 1  1002000.0  Finished
1    Project 9   325000.0   Ongoing
2   Project 11  2000000.0    Failed
3    Project 2  2000000.0   Ongoing
4    Project 6   680000.0    Failed
5    Project 3  4500000.0  Finished
6    Project 8   350000.0    Failed
7   Project 10   300000.0  Finished
8    Project 4  5500000.0   Ongoing
9   Project 12  1000000.0   Ongoing
10  Project 13  3000000.0  Finished
11   Project 5  3090000.0  Finished
12   Project 7   400000.0  Finished
13  Project 14   200000.0  Finished

**5. Adding 5% Bonus to the cost for the Project Status is finished**

In [5]:
#Adding a new 'Bonus' column initialized to 0
Final['Bonus'] = 0.0

#The .loc[] indexer is used
#The bonus is 5% (0.05) of the 'Cost'
Final.loc[Final['Status'] == 'Finished', 'Bonus'] = Final['Cost'] * 0.05
print(Final)

      ID Gender     City  Age First Name   LastName  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9   325000.0   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5  3090000.0  Finished  154500.0
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

**6. Demoting the Failed Project Status employees**

In [6]:
Final.loc[Final['Status'] == 'Failed', 'Designation Level'] += 1

#Deleting records where 'Designation Level' is greater than 4 (not eligible)
Final = Final[Final['Designation Level'] <= 4]
print(Final)

      ID Gender     City  Age First Name   LastName  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  3
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  3
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  4
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9   325000.0   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5  3090000.0  Finished  154500.0
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

**7. Adding Prefix(Mr or Mrs)**

In [7]:
#Adding "Mr." or "Mrs." prefix to the 'First Name' using .loc[] and conditional assignment
Final.loc[Final['Gender'] == 'M', 'First Name'] = 'Mr. ' + Final['First Name']
Final.loc[Final['Gender'] == 'F', 'First Name'] = 'Mrs. ' + Final['First Name']

#Droping the 'Gender' column
Final.drop('Gender', axis=1, inplace=True)
print(Final[['First Name', 'LastName']])

    First Name   LastName
0     Mr. John      Alter
1     Mr. John      Alter
2     Mr. John      Alter
3   Mrs. Alice  Luxumberg
4   Mrs. Alice  Luxumberg
5      Mr. Tom  Sabestine
6      Mr. Tom  Sabestine
7      Mr. Tom  Sabestine
8    Mrs. Nina      Adgra
9    Mrs. Nina      Adgra
10   Mrs. Nina      Adgra
11    Mrs. Amy      Johny
12    Mrs. Amy      Johny
13    Mrs. Amy      Johny

**8. Promoting Employees whose age is more than 29**

In [8]:
Final['Designation Level'] = np.where(
    Final['Age'] > 29,
    Final['Designation Level'] - 1,
    Final['Designation Level']
)
print(Final)

      ID     City  Age  First Name   LastName  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  3  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  4   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  2   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  2   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  2  Project 14

         Cost    Status     Bonus
0   1002000.0  Finished   50100.0
1    325000.0   Ongoing       0.0
2   2000000.0    Failed       0.0
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
5   4500000.0  Finished  225000.0
6    350000.0    Failed       0.0
7    300000.0  Finished   15000.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0
11  3090000.0  Finished  154500.0
12   400000.0  Finished   20000.0
13   200000.0  Finished   10000.0

**9. Total Project Cost per Employee**

In [9]:
#Group by 'ID' and 'First Name', then sum the 'Cost'
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

#Rename the column to 'Total Cost' as requested
TotalProjCost.rename(columns={'Cost': 'Total Cost'}, inplace=True)
print(TotalProjCost)

     ID  First Name  Total Cost
0  A001    Mr. John   3327000.0
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3690000.0

**10. Print Employee Details by City Name**

In [10]:
#Filtering DataFrame for cities containing the letter 'o'
employees_with_o_in_city = Final[Final['City'].str.contains('o', case=False)]
print(employees_with_o_in_city)

      ID     City  Age  First Name   LastName  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0